% Publication



.publications{
    position: relative;
    margin-bottom: 1em;
    padding-top: 1em;
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}


.publications > .archive__item-excerpt {
  margin-top: 0;
  font-size: 1.25rem;
}

.publications a {
    color: #494e52;
    text-decoration: none;
    font-size: 1rem;
}

.publications a:hover {
    color: #52adc8;
    text-decoration: none;
}

.pub-date {
  color: #FFF;
  font-size: 0.9rem;
  font-weight: bold;
  float: left;
  width: 50px;
  height: 50px;
  background: #494e52;
  border: 1px solid #404040;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  padding: 11px 0;
  text-align: center;
}

.pub-date::before {
  content: '';
  position: absolute;
  left: 50%;
  height: 20px;
  width: 1px;
  top: -20px;
  border-left: 1px solid #404040;
  z-index: 0;
}

.pub-date::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 150px;
  width: 1px;
  bottom: -150px;
  border-left: 1px solid #404040;
  z-index: 0;
}

.pub-content {
  margin-left: 70px;
  margin-right: 5px;
  padding-top: 6px;
  padding-bottom: 20px;
  font-size: 15px;
  max-height: 200px;
  overflow: hidden;
}

.pub-content::before, .pub-content::after {
  content: "";
  display: table;
}

.pub-content p {
    margin-top: 0
}


